<!-- Letter Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Thank You</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                Dear Birth Family, <p>

                Thank you for considering us as potential parents for your child. We are deeply honored that you would take the time to learn more about us.
                As we prepare to welcome a child into our lives through adoption, our hearts are filled with excitement and love.
                We have been blessed in many ways, and it is our greatest hope to share those blessings with your baby, offering them a life filled with warmth, security, and endless joy.<p>

                We met soon after graduating from college, and from the very beginning, we knew that our shared values of family, love, and not taking life too seriously would guide our lives together.
                Over the years, we’ve built a life centered around these values, creating a warm, supportive and fun home where love always comes first.<p>

                Family is incredibly important to us. We come from a large, close-knit family - so our family gatherings are always lively and filled with laughter, joy, and of course, lots of delicious food!
                Your child would be welcomed into this big, loving family with open arms, and they would have so many cousins to play with and grow up alongside. So many people are already loving and praying for you and your baby.<p>

                Our home is a place where love and creativity flourish. It’s filled with laughter, the joy of our two dogs, and the warmth of family. We’ve created a nurturing environment with a big backyard perfect for playtime
                and a cozy playroom ready for storytime and movie nights. We can’t wait to fill these spaces with the sounds of a child’s laughter and the joy of new memories.<p>

                As we embark on this journey, we want you to know that we understand the magnitude of the decision you are making. If you choose us, we promise to provide a loving, stable, and nurturing home
                where your child will always feel supported and cherished. We will celebrate every moment of their life, honoring their story, and ensuring they know how deeply they are loved by you.<p>

                Thank you again for considering us. We would love the opportunity to get to know you better and to share more about the life we hope to build with your child.<p>

                With heartfelt thanks,<p>

                Billy & Sarah

                </p>
            </div>
        </div>
    </div>
</section>